ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

button {
    width: 150px;
    height: 100px;
    border-radius: 20px;
    border: 2px red solid;
    margin: 0 200px;
}

button:hover {
    background-color: red;
    color: white;
    translate: 100px 100px;
    transition: all 2s;
}